appnope==0.1.3
asttokens==2.2.1
backcall==0.2.0
black==22.12.0
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
comm==0.1.2
contourpy==1.0.7
cycler==0.11.0
debugpy==1.6.6
decorator==4.4.2
executing==1.2.0
fonttools==4.38.0
fst-pso==1.8.1
FuzzyTM==2.0.5
gensim==4.3.0
idna==3.4
importlib-metadata==6.0.0
ipykernel==6.20.2
ipython==8.9.0
jedi==0.18.2
joblib==1.2.0
jsonschema==2.6.0
julia==0.6.0
jupyter_client==8.0.1
jupyter_core==5.1.5
karateclub==1.3.3
kiwisolver==1.4.4
Levenshtein==0.20.9
llvmlite==0.39.1
matplotlib==3.6.3
matplotlib-inline==0.1.6
miniful==0.0.6
mypy-extensions==0.4.3
nest-asyncio==1.5.6
networkx==2.6.3
numba==0.56.4
numpy==1.22.4
numpy-groupies==0.9.20
packaging==23.0
pandas==1.3.5
parso==0.8.3
pathspec==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==2.6.2
prompt-toolkit==3.0.36
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyFUME==0.2.25
Pygments==2.14.0
PyGSP==0.5.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-Levenshtein==0.20.9
python-louvain==0.16
pytz==2022.7.1
pyzmq==25.0.0
rapidfuzz==2.13.7
requests==2.28.2
ribs==0.5.0
rsurn @ git+https://github.com/tsukuba-websci/rsurn@69c588ec018d3a7cd38e3f98dbb5417cdcdec172
scikit-learn==1.2.1
scipy==1.9.3
semantic-version==2.10.0
setuptools-scm==7.1.0
simpful==2.9.0
six==1.16.0
smart-open==6.3.0
sortedcontainers==2.4.0
stack-data==0.6.2
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
tornado==6.2
tqdm==4.64.1
traitlets==5.8.1
typing_extensions==4.4.0
urllib3==1.26.14
wcwidth==0.2.6
zipp==3.12.0