# exclude log directory
log/**
!log/.gitkeep

# exclude results directory
results/aps/**/*
!results/aps/.gitkeep

results/twitter/**/*
!results/twitter/.gitkeep

results/synthetic_target/**/*
!results/synthetic_target/.gitkeep
